html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.titre-homepage {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 44px;
    font-style: italic;
    color: #796157;
}

.titre-layout {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    color: #2C1810;
}

.onglet-menu-skinny {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #000000;
}

.onglet-menu-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: #000000;
}

.btn-custom {
    background-color: #D9A963;
    color: black; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s;
}

    .btn-custom:hover {
        background-color: #c08f4f; 
    }



.dm-sans-400 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #2C1810;
}

.image {
    width: 411px;
    height: 316px;
    border-radius: 5px; 
}