@{
    ViewData["Title"] = "SaveUpdate";
}


<div>
    <h1 class="text-center">La @ViewBag.Marque @ViewBag.Modele a été modifiée</h1>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour</a>
</div>
