@model VoitureProfileModel
@{
    ViewData["Title"] = "Create";
    // var typesList = Model.Types.ToList();
}

<div class="my-5 text-center">
    <h1 class=" titre-homepage ">Ajouter une voiture</h1>
    <p class="onglet-menu-skinny">tous les champs sont obligatoires</p>
</div>

<div class="container-fluid shadow  py-5">
    <div class="row justify-content-center ">
        <div class="col-md-6">

            <form method="post">
                <h4>Véhicule</h4>
                <div class="hidden">
                    <input asp-for="Voiture.Id" type="hidden">
                    <input asp-for="Prix.Id" type="hidden">
                    <input asp-for="Prix.PrixReparation" type="hidden">
                    <input asp-for="Prix.PrixVente" type="hidden">
                    <input asp-for="Date.Id" type="hidden">
                    <input asp-for="Date.DateMiseEnVente" type="hidden">
                </div>
                <div class="mb-2">
                    <label asp-for="Voiture.CodeVin" class="form-label">Code VIN</label>
                    <input asp-for="Voiture.CodeVin" type="text" class="form-control">
                    <span asp-validation-for="Voiture.CodeVin" class="text-danger"></span>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label asp-for="Voiture.Marque" class="form-label">Marque</label>
                        <input asp-for="Voiture.Marque" type="text" class="form-control">
                        <span asp-validation-for="Voiture.Marque" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Voiture.Modele" class="form-label">Modèle</label>
                        <input asp-for="Voiture.Modele" type="text" class="form-control">
                        <span asp-validation-for="Voiture.Modele" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label asp-for="Voiture.Finition" class="form-label">Finition</label>
                        <input asp-for="Voiture.Finition" type="text" class="form-control">
                        <span asp-validation-for="Voiture.Finition" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Voiture.AnneeFabrication" class="form-label">Année</label>
                        <input asp-for="Voiture.AnneeFabrication" type="month" class="form-control">
                        <span asp-validation-for="Voiture.AnneeFabrication" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-2">
                    <label asp-for="Voiture.ImagePath" class="form-label">Image</label>
                    <input asp-for="Voiture.ImagePath" type="text" class="form-control">
                    <span asp-validation-for="Voiture.ImagePath" class="text-danger"></span>
                </div>

                <hr />

                <h4>Réparations</h4>

                <div id="reparations-container" class="mb-2">
                    @* Add reparations here *@
                </div>
                <button type="button" class="btn btn-outline-primary mb-2" onclick="AddReparation()">
                    <i class="bi bi-plus-circle"></i> Ajouter une réparation
                </button>

                <hr />

                <h4>Comptabilité</h4>

                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Prix.PrixAchat" class="form-label">Prix d'Achat</label>
                        <input asp-for="Prix.PrixAchat" type="number" class="form-control">
                        <span asp-validation-for="Prix.PrixAchat" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Date.DateAchat" class="form-label">Date d'Achat</label>
                        <input asp-for="Date.DateAchat" type="date" class="form-control">
                        <span asp-validation-for="Date.DateAchat" class="text-danger"></span>
                    </div>
                </div>

                <hr />

                <div class="text-center">
                    <button asp-controller="Car" asp-action="Create" type="submit" class="btn-primary btn">Enregistrer la voiture</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    
    function AddReparation() {
        let index = document.querySelectorAll('.reparation-group').length;
        const container = document.getElementById('reparations-container');
        const html = `
            <div class="reparation-group mb-2">
                <div>
                    <input name="Types[${index}].Id" value="0" type="hidden">
                </div>
                <div class="mb-2">
                    <label class="form-label">Description</label>
                    <input name="Types[${index}].Description" type="text" class="form-control">
                    <span class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Prix</label>
                        <input name="Types[${index}].Prix" type="text" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Durée</label>
                        <input name="Types[${index}].Duree" type="text" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-danger mb-2 btn-sm" onclick="DeleteReparation(this)">Supprimer</button>
                </div>
                <hr />
            </div>
        `;
        container.insertAdjacentHTML('beforeend', html);
    }
        function DeleteReparation(button) {
        const elementToRemove = button.closest('.reparation-group');
        elementToRemove.remove();

        const groups = document.querySelectorAll('.reparation-group');
        groups.forEach((group, index) => {
            const inputs = group.querySelectorAll('input');

            inputs.forEach(input => {
                const name = input.getAttribute('name');
                if (name) {
                    const newName = name.replace(/Types\[\d+\]/, `Types[${index}]`);
                    input.setAttribute('name', newName);
                }
            });
        });
    }

</script>

                                        