@model VoitureModel
@{
    ViewData["Title"] = "Create";
}

<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>

<div class="container-fluid shadow  py-5">
    <div class="row justify-content-center ">
        <div class="col-md-6">
            
            <form asp-controller="Car" asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="CodeVin" class="form-label">Code VIN</label>
                    <input asp-for="CodeVin" type="text" class="form-control">
                    <span asp-validation-for="CodeVin" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Annee" class="form-label">Année</label>
                    <input asp-for="Annee"  type="number" class="form-control">
                    <span asp-validation-for="Annee" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Marque" class="form-label">Marque</label>
                    <input asp-for="Marque" type="text" class="form-control">
                    <span asp-validation-for="Marque" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Modele" class="form-label">Modèle</label>
                    <input asp-for="Modele" type="text" class="form-control">
                    <span asp-validation-for="Modele" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Finition" class="form-label">Finition</label>
                    <input asp-for="Finition" type="text" class="form-control">
                    <span asp-validation-for="Finition" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Prix.PrixAchat" class="form-label">Prix d'Achat</label>
                    <input asp-for="Prix.PrixAchat" type="number" class="form-control">
                    <span asp-validation-for="Prix.PrixAchat" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Reparations.Types" class="form-label">Types de Réparations</label>
                    <input asp-for="Reparations.Types" type="text" class="form-control">
                    <span asp-validation-for="Reparations.Types" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Prix" class="form-label">Prix</label>
                    <input asp-for="Prix" type="number" class="form-control">
                    <span asp-validation-for="Prix" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Prix" class="form-label">Prix</label>
                    <input asp-for="Prix" type="number" class="form-control">
                    <span asp-validation-for="Prix" class="text-danger"></span>
                </div>
                
                <div class="text-center">
                    <button asp-controller="Car" asp-action="Create" class="btn-primary btn">Enregistrer la voiture</button>
                </div>
            </form>
        </div>
    </div>
</div>