@model VoitureProfileModel
@{
    ViewData["Title"] = "Create";
}

<div class="my-5 text-center">
    <h1 class=" titre-homepage ">Ajouter une voiture</h1>
    <p class="onglet-menu-skinny">tous les champs sont obligatoires</p>
</div>

<div class="container-fluid shadow  py-5">
    <div class="row justify-content-center ">
        <div class="col-md-6">

            <form method="post">
                <h4>Véhicule</h4>
                <div class="hidden">
                    <input asp-for="Voiture.Id" type="hidden">
                    <input asp-for="Prix.Id" type="hidden">
                    <input asp-for="Prix.PrixReparation" type="hidden">
                    <input asp-for="Prix.PrixVente" type="hidden">
                    <input asp-for="Date.Id" type="hidden">
                    <input asp-for="Date.DateMiseEnVente" type="hidden">
                </div>
                <div class="mb-2">
                    <label asp-for="Voiture.CodeVin" class="form-label">Code VIN</label>
                    <input asp-for="Voiture.CodeVin" type="text" class="form-control" placeholder="ex : 1HGBH41JXMN109186">
                    <span asp-validation-for="Voiture.CodeVin" class="text-danger"></span>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label asp-for="Voiture.Marque" class="form-label">Marque</label>
                        <input asp-for="Voiture.Marque" type="text" class="form-control" placeholder="ex : Audi">
                        <span asp-validation-for="Voiture.Marque" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Voiture.Modele" class="form-label">Modèle</label>
                        <input asp-for="Voiture.Modele" type="text" class="form-control" placeholder="ex : A3">
                        <span asp-validation-for="Voiture.Modele" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label asp-for="Voiture.Finition" class="form-label">Finition</label>
                        <input asp-for="Voiture.Finition" type="text" class="form-control" placeholder="ex : S-Line">
                        <span asp-validation-for="Voiture.Finition" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Voiture.AnneeFabrication" class="form-label">Date de Fabrication</label>
                        <input asp-for="Voiture.AnneeFabrication" type="date" class="form-control">
                        <span asp-validation-for="Voiture.AnneeFabrication" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-2">
                    <label asp-for="Voiture.ImagePath" class="form-label">Image</label>
                    <input asp-for="Voiture.ImagePath" type="text" class="form-control" placeholder="Feature non implémenté pour le moment">
                    <span asp-validation-for="Voiture.ImagePath" class="text-danger"></span>
                </div>

                <hr />

                <h4>Réparations</h4>

                <div class="mb-2 row">
                    @for (int i = 0; i < Model.Types.Count(); i++)
                    {
                        <div class="col-md-6 mb-2">
                            <div class="form-check">
                                <input type="hidden" asp-for="Types[i].Id" />
                                <input type="hidden" asp-for="Types[i].Description" />
                                <input id="PrixReparation" type="hidden" asp-for="Types[i].Prix" />
                                <input id="DureeReparation" type="hidden" asp-for="Types[i].Duree" />
                                <input class="form-check-input" type="checkbox" asp-for="Types[i].IsSelected" />
                                <label class="form-check-label">@Model.Types[i].Description </label>
                            </div>
                        </div>
                    }
                    <div class="row mb-2">
                        <div class="col-md-6 ">
                            <label class="form-label">Prix total</label>
                            <input id="SumPrixReparations" type="number" class="form-control" readonly />

                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Durée totale</label>
                            <input id="SumDureeReparations" type="number" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <hr />

                <h4>Comptabilité</h4>

                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Prix.PrixAchat" class="form-label">Prix d'Achat</label>
                        <input asp-for="Prix.PrixAchat" type="number" class="form-control currency-input" placeholder="10 000 €">
                        <span asp-validation-for="Prix.PrixAchat" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Date.DateAchat" class="form-label">Date d'Achat</label>
                        <input asp-for="Date.DateAchat" type="date" class="form-control">
                        <span asp-validation-for="Date.DateAchat" class="text-danger"></span>
                    </div>
                </div>

                <hr />

                <div class="text-center">
                    <button asp-controller="Car" asp-action="Create" type="submit" class="btn-primary btn">Enregistrer la voiture</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function UpdatePrixReparation() {
        let prixReparation = 0;
        document.querySelectorAll('input[type="checkbox"]:checked').forEach(input => {
            const prix = parseInt(input.closest('.form-check').querySelector('input[id="PrixReparation"]').value);
            if (!isNaN(prix)) {
                prixReparation += prix;
            }
        });
        document.querySelector('#SumPrixReparations').value = prixReparation;
    }
    function UpdateDureeReparation() {
        let dureeReparation = 0;
        document.querySelectorAll('input[type="checkbox"]:checked').forEach(input => {
            const duree = parseInt(input.closest('.form-check').querySelector('input[id="DureeReparation"]').value);
            if (!isNaN(duree)) {
                dureeReparation += duree;
            }
        });
        document.querySelector('#SumDureeReparations').value = dureeReparation;
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('input[type="checkbox"]').forEach(input => {
            input.addEventListener('change', UpdatePrixReparation);
            input.addEventListener('change', UpdateDureeReparation);
        });
        UpdatePrixReparation();
        UpdateDureeReparation();
    });
</script>

                                        