@model VoitureModel
@{
    ViewData["Title"] = "Index";
    var actionName = ViewContext.RouteData.Values["action"]?.ToString();
    string actionString = "Create";
}

@if (actionName == "Read" || actionName == "Update") {
    actionString = "Update"; 
} 

<div class="my-5 text-center">
    <h1 class=" titre-homepage ">Ajouter une voiture</h1>
    <p class="onglet-menu-skinny">tous les champs sont obligatoires</p>
</div>

<div class="container-fluid shadow  py-5">
    <div class="row justify-content-center ">
        <div class="col-md-6">
            <form asp-controller="Car" asp-action="@actionString" method="post">
                <div class="mb-3">
                    <label asp-for="CodeVin" class="form-label">Code VIN</label>
                    <input asp-for="CodeVin" type="text" class="form-control">
                    <span asp-validation-for="CodeVin" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Annee" class="form-label">Année</label>
                    <input asp-for="Annee"  type="number" class="form-control">
                    <span asp-validation-for="Annee" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Marque" class="form-label">Marque</label>
                    <input asp-for="Marque" type="text" class="form-control">
                    <span asp-validation-for="Marque" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Modele" class="form-label">Modèle</label>
                    <input asp-for="Modele" type="text" class="form-control">
                    <span asp-validation-for="Modele" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Finition" class="form-label">Finition</label>
                    <input asp-for="Finition" type="text" class="form-control">
                    <span asp-validation-for="Finition" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Image" class="form-label">Image</label>
                    <input asp-for="Image" type="file" class="form-control" accept="image/jpeg, image/jpg" >
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-custom">@actionString</button>
                </div>
            </form>
        </div>
    </div>
</div>