@model VoitureModel
@{
    ViewData["Title"] = "Modifier";
    var index = Model.Reparations.Count;
}

<div class="my-5 text-center">
    <h1 class=" titre-homepage ">Ajouter une voiture</h1>
    <p class="onglet-menu-skinny">tous les champs sont obligatoires</p>
</div>

<div class="container-fluid shadow  py-5">
    <div class="row justify-content-center ">
        <div class="col-md-6">

            <form asp-controller="Car" asp-action="Update" method="post">
                <h4>Véhicule</h4>
                <div class="hidden">
                    <input asp-for="Prix.Id" type="hidden">
                    <input asp-for="Prix.PrixReparation" type="hidden">
                    <input asp-for="Prix.PrixVente" type="hidden">
                    <input asp-for="Date.Id" type="hidden">
                    <input asp-for="Date.DateMiseEnVente" type="hidden">
                </div>
                <div class="mb-2">
                    <label asp-for="CodeVin" class="form-label">Code VIN</label>
                    <input asp-for="CodeVin" type="text" class="form-control">
                    <span asp-validation-for="CodeVin" class="text-danger"></span>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label asp-for="Marque" class="form-label">Marque</label>
                        <input asp-for="Marque" type="text" class="form-control">
                        <span asp-validation-for="Marque" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Modele" class="form-label">Modèle</label>
                        <input asp-for="Modele" type="text" class="form-control">
                        <span asp-validation-for="Modele" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label asp-for="Finition" class="form-label">Finition</label>
                        <input asp-for="Finition" type="text" class="form-control">
                        <span asp-validation-for="Finition" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Annee" class="form-label">Année</label>
                        <input asp-for="Annee" type="number" class="form-control">
                        <span asp-validation-for="Annee" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="mb-2">
                    <label asp-for="ImagePath" class="form-label">Image</label>
                    <input asp-for="ImagePath" type="text" class="form-control">
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>

                <hr />
                
                <h4>Comptabilité</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Prix.PrixAchat" class="form-label">Prix d'Achat</label>
                        <input asp-for="Prix.PrixAchat" type="number" class="form-control">
                        <span asp-validation-for="Prix.PrixAchat" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Date.DateAchat" class="form-label">Date d'Achat</label>
                        <input asp-for="Date.DateAchat" type="date" class="form-control">
                        <span asp-validation-for="Date.DateAchat" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Prix.PrixVente" class="form-label" >Prix de Vente</label>
                        <input asp-for="Prix.PrixVente" type="number" class="form-control">
                        <span asp-validation-for="Prix.PrixVente" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Date.DateVente" class="form-label">Date de Vente</label>
                        <input asp-for="Date.DateVente" type="date" class="form-control">
                        <span asp-validation-for="Date.DateVente" class="text-danger"></span>
                    </div>
                </div>
                

                <hr />

                <h4>Réparations</h4>
                <div id="reparations-container" class="mb-2">
                    @for (int i =0; i < index; i++) {
                        <div class="reparation-group">
                            <div>
                                <input asp-for="Reparations[i].Id" type="hidden">
                            </div>
                            <div class="mb-2">
                                <label asp-for="Reparations[i].Description" class="form-label">Description</label>
                                <input asp-for="Reparations[i].Description" type="text" class="form-control">
                                <span asp-validation-for="Reparations[i].Description" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="Reparations[i].Prix" class="form-label">Prix</label>
                                    <input asp-for="Reparations[i].Prix" type="text" class="form-control">
                                    <span asp-validation-for="Reparations[i].Prix" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Reparations[i].Duree" class="form-label">Durée</label>
                                    <input asp-for="Reparations[i].Duree" type="text" class="form-control">
                                    <span asp-validation-for="Reparations[i].Duree" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                        </div>
                    }
                </div>

                <button type="button" class="btn btn-outline-primary mb-2" onclick="AddReparation()">
                    <i class="bi bi-plus-circle"></i> Ajouter une réparation
                </button>
                <button type="button" class="btn btn-outline-danger mb-2" onclick="DeleteReparation()">Supprimer</button>

                <div class="text-center">
                    <button asp-controller="Car" asp-action="Update" class="btn-primary btn">Enregistrer la voiture</button>
                    <a asp-controller="Car" asp-action="Delete" asp-route-codeVin="@Model.CodeVin" class="btn btn-danger">Supprimer la voiture</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let index = @index;
    function AddReparation() {
        const container = document.getElementById("reparations-container");
        const html = `
             <div class="reparation-group">
                <div class="mb-2">
                    <label for="Reparations_${index}__Description" class="form-label">Description</label>
                    <input name="Reparations[${index}].Description" id="Reparations_${index}__Description" class="form-control" type="text" >
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="Reparations_${index}__Prix" class="form-label">Prix</label>
                        <input name="Reparations[${index}].Prix" id="Reparations_${index}__Prix" class="form-control" type="number">
                    </div>
                    <div class="col-md-6">
                        <label for="Reparations_${index}__Duree" class="form-label">Durée</label>
                        <input name="Reparations[${index}].Duree" id="Reparations_${index}__Duree" class="form-control" type="number">
                    </div>
                </div>
                <hr />
            </div>`;
        container.insertAdjacentHTML('beforeend', html);
        index++;
    }
    function DeleteReparation() {
            const parent = document.getElementById('reparations-container');
            const cibles = parent.getElementsByClassName('reparation-group');
            if (cibles.length > 0) {
                const lastOne = cibles[cibles.length - 1];
                lastOne.remove();
                if (index = 0) {
                    return;
                }
                else
                index--;
            }
        }

</script>
